body {
  font-family: "Press Start 2P", cursive;
}


.grid {
  display: grid;
  grid-template-columns: 320px 200px;
}

#board {
  border: solid 2px black;
}

#infoColumn {
  background: aqua;
  border: solid 1px blue;
}